.product-list-section {
  text-align: center;
  background-color: #f2dfce;
}

.product-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-list {
  overflow: hidden;
  width: 100%;
}

.product-list-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.product-card {
  flex: 0 0 25%;
  box-sizing: border-box;
  padding: 10px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  max-height: 300px;
  object-fit: cover;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product-card p {
  font-size: 16px;
  color: #888;
}

.product-card button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.product-card button:hover {
  background: #f2dfce;
  color: #173334;
}




.prev-button, .next-button {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.business-section {
  color: #173334;
  text-align: center;
}

.business-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.business-section p {
  font-size: 16px;
  margin-bottom: 20px;
}

.business-button {
  display: inline-block;
  padding: 10px 20px;
  background: #173334;
  color: #f2dfce;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 20px;
}

.business-button:hover {
  background: #f2dfce;
  color: #173334 ;
}

.business-images img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.additional-section {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  text-align: center;
}

.additional-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.additional-products {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.additional-button {
  display: inline-block;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.additional-button:hover {
  background: #555;
}

.add-to-cart, .buy-now {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3e50;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover, .buy-now:hover {
  background-color: #1b2a39;
}

.add-to-cart svg, .buy-now svg {
  margin-left: 5px; /* Chỉnh margin để đặt icon phía sau văn bản */
}

.product-card .ring-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}