/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #000; /* Đổi màu chữ */
}

.banner-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.banner-content p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.banner-content a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.app {
    display: flex;
}

